<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>bunTeeth.net | About Me!</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon2.png') }}">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all">
  </head>

  <body>

  <header>
     <!--navigation menu -->
      <nav>
        <a href="/"><img id="home-button" src="{{ url_for('static', filename='images/home.png') }}" style="display: inline-block;"></a>
        <a href="/about"><img id="about-button" src="{{ url_for('static', filename='images/about.png') }}" style="display: inline-block;"></a>
	    <a href="https://theatre.bunteeth.net"><img id="theatre-button" src="{{ url_for('static', filename='images/theatre.png') }}" style="display:inline-block;"></a>
	    <a href="https://github.com/bunTeeth"><img id="github-button" src="{{ url_for('static', filename='images/github2.png') }}" style="display:inline-block;"></a>
		<a href="/blog/Tutorial:%20Flask%20Basics"><img id="tutorial-button" src="{{ url_for('static', filename='images/tutorials2.png') }}" style="display:inline-block;"></a>
		<a href="/"><img id="shrines-button" src="{{ url_for('static', filename='images/shrines.png') }}" style="display:inline-block;"></a>

      </nav>
  </header>

  <main>
			<div class="body-container">
			<!--TODO-->
			<!--<h1>A</h1>-->
			<div class="content-container">
				<h1>Hewwo :D</h1>
				<h2>I'm Chloe ! I'm a 23 year old recovering NEET that loves bunnies and Pokemon. I'm currently studying cybersecurity and
				 network engineering.</h2>
				<h3>Here are some of my current interests:</h3>
				<div class="about-list-left">
					<ul>
						<li>Homelabbing</li>
						<li>Listening to music</li>
						<li>Playing Pokemon TCG</li>
						<li>Playing Pokemon VGC</li>
					</ul>
				</div>
				<div class="about-list-right">
					<ul>
						<li>Programming my website</li>
						<li>Brushing up on my Python skills</li>
						<li>Playing Riftbound TCG</li>
						<li>Replaying 3DS Games</li>
					</ul>
				</div>
				<div class="after-about"><h2>Down here will be like uhhhh... something.....idk..</h2></div>
			</div>
			<div class="rightsidebar">
				<h2><b>Blog:</b></h2>
				<div class="blog-current">
					<ul>
						<li><b>You are here:</b></li>
						<li><a href="/about">---About Me !---</a></li>
					</ul>
				</div>
				<div class="blog-more">
					<ul>
						<li><b>Check out these posts:</b></li>
                                                {% for post in posts %}
                                                <li><a href="/blog/{{post.title}}">---{{post.title}}---
                                                        <p style="font-size: 10px; color: #007BA7">Posted on:
                                                        {{post.date_posted.day}}/
                                                        {{post.date_posted.month}}/{{post.date_posted.year}}
                                                        </p></a></li>
                                                {% endfor%}
                                        </ul>
				</div>
			</div>
			<div class="leftsidebar">
			</div>
		</div>

  </main>

  <footer>
        {% for wb in web_buttons %}
        <img src="../static/images/{{wb.filename}}" style="display:inline-block;">
  	{% endfor%}
  </footer>

  </body>
</html>
