<!DOCTYPE html>
<html>
<head>
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<title>bunTeeth.net | Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon2.png') }}">

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</head>

  <body>
    <header>
    <!--navigation menu -->
      <nav>
            <a href="/"><img id="home-button" src="{{ url_for('static', filename='images/home.png') }}" style="display: inline-block;"></a>
            <a href="/about"><img id="about-button" src="{{ url_for('static', filename='images/about.png') }}" style="display: inline-block;"></a>
			<a href="https://theatre.bunteeth.net"><img id="theatre-button" src="{{ url_for('static', filename='images/theatre.png') }}" style="display:inline-block;"></a>
			<a href="https://github.com/bunTeeth"><img id="github-button" src="{{ url_for('static', filename='images/github2.png') }}" style="display:inline-block;"></a>
			<a href="/blog/Tutorial:%20Flask%20Basics"><img id="tutorial-button" src="{{ url_for('static', filename='images/tutorials2.png') }}" style="display:inline-block;"></a>
			<a href="/temple"><img id="shrines-button" src="{{ url_for('static', filename='images/shrines.png') }}" style="display:inline-block;"></a>
      </nav>
    </header>

    <main>
			<div class="body-container">
			<!-- SITE LAYOUT-->
			<div class="content-container">
				<h1>WELCOME ! :D</h1>
				<h2>This is a Work In Progress site!</h2>
				<p>Look at these stamps while u wait !<p>
				<img src="{{ url_for('static', filename='images/pikanyan.webp') }}" style="display:inline-block;">
				<img src="{{ url_for('static', filename='images/awawa.webp') }}" style="display:inline-block;">
				<img src="{{ url_for('static', filename='images/sugarbunnystamp.webp') }}" style="display:inline-block;">
				<img src="{{ url_for('static', filename='images/eyes.png') }}" style="display:inline-block;">
				<img src="{{ url_for('static', filename='images/mikuaaaah.png') }}" style="display:inline-block;">
				<img src="{{ url_for('static', filename='images/aaaah.png') }}" style="display:inline-block;">
				<img src="{{ url_for('static', filename='images/sucy.png') }}" style="display:inline-block;">
				<img src="{{ url_for('static', filename='images/pinkietwi.gif') }}" style="display:inline-block;">
				<img src="{{ url_for('static', filename='images/bunnies.gif') }}" style="display:inline-block;">
				<img src="../static/images/bnuykiss.png" style="display:inline-block;">
				<img src="../static/images/bunlove.png" style="display:inline-block;">
				<img src="../static/images/seabunny.gif" style="display:inline-block;">
				<img src="../static/images/harpseal.png" style="display:inline-block;">
				<img src="../static/images/shay.png" style="display:inline-block;">
				<img src="../static/images/emolga.png" style="display:inline-block;">
				<img src="../static/images/scolipede.gif" style="display:inline-block;">
				<img src="../static/images/flareonaww.png" style="display:inline-block;">
				<img src="../static/images/absol.png" style="display:inline-block;">
				<img src="../static/images/glaceonsparkle.png" style="display:inline-block;">
				<img src="../static/images/leafeonsparkle.png" style="display:inline-block;">
				<img src="../static/images/n.png" style="display:inline-block;">
				<img src="../static/images/nswexy.png" style="display:inline-block;">
				<img src="../static/images/iono.gif" style="display:inline-block;">
				<img src="../static/images/3ds.gif" style="display:inline-block;">
				<img src="../static/images/vee.gif" style="display:inline-block;">
				<img src="../static/images/girdance.gif" style="display:inline-block;">
				<img src="../static/images/squee.webp" style="display:inline-block;">
				<img src="../static/images/ev.gif" style="display:inline-block;">
				<img src="../static/images/bvb.gif" style="display:inline-block;">
				<img src="../static/images/nothoughts.png" style="display:inline-block;">
				<img src="../static/images/popplio.gif" style="display:inline-block;">
				<img src="../static/images/trannimonroll.png" style="display:inline-block;">
				<p id="mobileWarning">FYI this site isnt optimized for mobile (yet.... maybe 1 day....) :c</p>
				<a href="/add_data"><button style="margin-bottom: 50px;">Send a message !</button></a>
				<div class="messages">
				{% for note in messages %}
				<table style="width: 90%; position: relative; left: 5%;">
					<tr style="background-color: #123524;">
						<td style="text-align: left; border: 1px solid #007BA7;">Author: {{note.author}} | Date Posted: {{note.date_posted.day}}/
						{{note.date_posted.month}}/{{note.date_posted.year}}</td>
					</tr>
					<tr>
						<td style="text-align: center; height: 100px;">{{note.message}}</td>
					</tr>
				</table>
				{% endfor%}
				</div>
				<!--THIS IS HOW U DO NESTED PAGES, PAGES SHOULDNT HAVE SIDEBARS THO AS THOSE WILL DISPLAY SO BASICALLY ONLY USE THIS 2 LENGTHEN THE
					   CURRENT PAGE WITHOUT ACTAULLY LENGTHENING IT !!!!!!!!!!!!!!!!!!!!-->
				<!--<iframe id="frame" src="/blog/template.html" style="position: absolute; left: 0px; bottom: 0px; width:100%; height: 100%;"></iframe>-->
				<!--<div class="carousel">
					<img class="link" src="../static/images/drpepper.gif">
					<img class="link" src="../static/images/bunbrowser.gif">
					<img class="link" src="../static/images/drpepper.gif">
                                        <img class="link" src="../static/images/bunbrowser.gif">
				</div>-->
			</div>
			<!-- RIGHT SIDEBAR-->
			<div class="rightsidebar">
				<h2><b>Blog:</b></h2>
				<div class="blog-current">
					<ul>
						<li><b>You are here:</b></li>
						<li><a href="/">---Home---</a></li>
					</ul>
				</div>
				<div class="blog-more">
					<ul>
						<li><b>Check out these posts:</b></li>
						<li><a href="/about">---About Me !---</a></li>
						{% for post in posts %}
						<li><a href="/blog/{{post.title}}">---{{post.title}}---
							<p style="font-size: 10px; color: #007BA7">Posted on:
							{{post.date_posted.day}}/
							{{post.date_posted.month}}/{{post.date_posted.year}}
							</p></a></li>
						{% endfor%}
					</ul>
				</div>
			</div>
			<!-- LEFT SIDEBAR-->
			<div class="leftsidebar">
				<img id="pfp" src="{{ url_for('static', filename='images/sugarbunny.png') }}" style="display:inline-block;">
				<div class="test-img">
					<p>Isnt this pic so awesum sauce !</p>
					<h2>Wanna play a game ? ^~^;</h2>
					<button onclick="document.getElementById('playerSpace').innerHTML =  pickRock()">Rock !</button>
					<button onclick="document.getElementById('playerSpace').innerHTML =  pickPaper()">Paper !</button>
					<button onclick="document.getElementById('playerSpace').innerHTML =  pickScissors()">Scissors !</button>
					<p id="playerSpace"></p>
					<p id="botSpace"></p>
					<button onclick="buttonTest()">Get Results !</button>
					<p id="resultSpace"></p>
					<button onclick="refresh()">Reset Game !</button>
				</div>
				<div class="music-player-tracks">
					{% for s in song %}
					<audio id="{{song[s][1]}}" src="../static/audio/{{song[s][0]}}"></audio>
					{% endfor%}
					<p><b>Music Player Test:</b></p>
					{% for s in song %}
					<p>{{song[s][1]}}</p>
					{% endfor%}
				</div>
				<div class="music-controls">
					<button onclick="prevAudio()" type="button">
					<img src="../static/images/skip_prev.png" style="width: 30%"></button>
					<button id="play-button" onclick="resumeAudio()" type="button" style="display: inline;">
					<img src="../static/images/play.png" style="width: 30%;"></button>
					<button id="pause-button" onclick="pauseAudio()" type="button" style="display: none;">
					<img src="../static/images/pause.png" style="width: 30%;"></button>
					<button onclick="stopAudio()" type="button">
					<img src="../static/images/stop.png" style="width: 30%"></button>
					<button onclick="nextAudio()" type="button">
					<img src="../static/images/skip_next.png" style="width: 30%;"></button>
					<p>Now Playing: <span id="now-playing" style="color: #007BA7;">Nothing :c
					</span></p>
				</div>
			</div>
		</div>
    </main>

    <footer>
		{% for wb in web_buttons %}
		<img src="../static/images/{{wb.filename}}" style="display:inline-block;">
		{% endfor%}
		<a href="/admin" style="color: #BA4C3E;"><p style="position: relative; font-size: 11px;">Admin Panel</p></a>
		<!--<div class="carousel">
                         <img class="ad" src="../static/images/drpepper.gif">
                         <img class="ad" src="../static/images/bunbrowser.gif">
                         <img class="ad" src="../static/images/drpepper.gif">
                	 <img class="ad" src="../static/images/bunbrowser.gif">
                </div>-->

    </footer>

  </body>
</html>
