<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>teehee :3</title>
    <link rel="icon" type="image/gif" href="/images/favicon-32x32.ico"">
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
  </head>
  
  <body>
  
  <header>
    <!--navigation menu -->
      <nav>
        <!-- TODO -->
            <a href="/"><img id="home-button" src="/images/home.png" style="display: inline-block;"></a>
            <a href="/about.html"><img id="about-button" src="/images/about.png" style="display: inline-block;"></a>
			<a href="https://theatre.bunteeth.net"><img id="theatre-button" src="/images/theatre.png" style="display:inline-block;"></a>
			<a href="https://github.com/bunTeeth"><img id="github-button" src="/images/github2.png" style="display:inline-block;"></a>
            
      </nav>
  </header>
  
	<main>
		<div class="body-container">
			<div class="content-container">
				<!--TODO-->
			</div>
			<div class="rightsidebar">
				<h2><b>Blog:</b></h2>
				<div class="blog-current">
					<ul>
						<li><b>You are here:</b></li>
						<li><a href="/blog/introspection.html">---About Me !---</a></li>
					</ul>
				</div>
				<div class="blog-more">
					<ul>
						<li><b>Here are some other silly posts:</b></li>
						<li><a href="/blog/introspection.html">---Introspection---</a></li>
					</ul>
				</div>
				</ul>
			</div>
			<div class="leftsidebar">
				<!--TODO-->
			</div>
		</div>
	</main>
  
	<footeer>
		<img src="images/drpepper.gif" style="display:inline-block;">
		<img src="images/bunbrowser.gif" style="display:inline-block;">
  </footer>
  
  </body>
</html>
