<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>teehee :3</title>
    <link rel="icon" type="image/png" href="../static/images/favicon2.png"">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all">
  </head>
  
  <body>
  
  <header>
    <!--navigation menu -->
      <nav>
        <!-- TODO -->
            <a href="/"><img id="home-button" src="../static/images/home.png" style="display: inline-block;"></a>
            <a href="/about.html"><img id="about-button" src="../static/images/about.png" style="display: inline-block;"></a>
			<a href="https://theatre.bunteeth.net"><img id="theatre-button" src="../static/images/theatre.png" style="display:inline-block;"></a>
			<a href="https://github.com/bunTeeth"><img id="github-button" src="../static/images/github2.png" style="display:inline-block;"></a>
            
      </nav>
  </header>
  
	<main>
		<div class="body-container">
			<div class="content-container">
				<!--TODO-->

			</div>
			<div class="rightsidebar">
			</div>
			<div class="leftsidebar">
				<!--TODO-->
			</div>
		</div>
	</main>
  
	<footeer>
		<img src="../static/images/drpepper.gif" style="display:inline-block;">
		<img src="../static/images/bunbrowser.gif" style="display:inline-block;">
  </footer>
  
  </body>
</html>
