<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>bunTeeth.net | My Homelab</title>
    <link rel="icon" type="image/png" href="../../static/images/favicon2.png">
    <link href="../../static/css/style.css" rel="stylesheet" type="text/css" media="all">
	<script src="../../static/js/script.js"></script>

  </head>
	 <nav>
        <!-- TODO -->
            <a href="/"><img id="home-button" src="{{ url_for('static', filename='images/home.png') }}" style="display: inline-block;"></a>
            <a href="/about"><img id="about-button" src="{{ url_for('static', filename='images/about.png') }}" style="display: inline-block;">
            <a href="https://theatre.bunteeth.net"><img id="theatre-button" src="{{ url_for('static', filename='images/theatre.png') }}" style="display: inline-block;"></a>
            <a href="https://github.com/bunTeeth"><img id="github-button" src="{{ url_for('static', filename='images/github2.png') }}" style="display: inline-block;"></a>

	</nav>
  
  <body>
  
  <header>
  </header>
  
	<main>
		<div class="body-container">
			<div class="content-container">
				<h1 style="opacity: 0;">hi</h1>
				<img src="../../static/images/sugarbunny.png" style="position: absolute; width: 30%; left: 20px; border: 5px solid #4a4318;">
				<p style="position: absolute; left: 70px; top: 400px; font-size: 13px;">How i look/feel doing this stuff</p>
				<div id="homelab-intro" style="position: absolute; top: 100px; left: 400px; width: 500px;">
					<p>Welcome to a simple overview of my homelab! I'm still in the beginning of my homelabbing journey, and my lab is pretty small and inefficient
							due to how expensive the hardware for this stuff is but it's very fun regardless and I plan to continuously upgrade it with new stuff. :D</p>
				</div>
				<div id="homelab-nas-text" style="position: relative; top: 350px;">
					<h1>My NAS:</h1>
					<p>My current NAS is a <a href="https://ai.ugreen.com/products/ugreen-nasync-dh4300-plus-nas-storage" style="color: #007BA7">UGREEN NASync DH4300 Plus</a>
							with 8TB of storage space that I've limited to about 3.6TB of usable space via RAID 1 for redundency, 
							which is a budget NAS for beginners like myself. It may be a budget NAS with a lot of limitations but it works for my current needs
							of file backup and hosting a few Docker containers with the following services.</p>
					<img src="../../static/images/nas-1.JPG" style="position: relative; width: 30%; left: 340px; top: 30px; border: 5px solid #4a4318;">
					<p style="position: relative; font-size: 13px; left: 330px; top: 30px;">My Nas</p>
				</div>
				<div id="homelab-nas-text-2" style="position: relative; width: 500px; bottom: 50px;">
					<h2>My services:</h2>
					<p style="font-size: 18px;">Media Center:</b></p>
					<p><span style="color: #007BA7;">Gluetun</span> - Routes containers through VPN</p>
					<p><span style="color: #007BA7;">qBittorrent</span> - Downloads stuff <span style="text-decoration: line-through;">totally
					legally</span></p>
					<p><span style="color: #007BA7;">Prowlarr</span> - Torrent/Usenet indexer manager</p>
					<p><span style="color: #007BA7;">Flaresolverr</span> - Cloudflare captcha solver</p>
					<p><span style="color: #007BA7;">Sonarr</span> - Searches Prowlarr indexers for TV Shows</p>
					<p><span style="color: #007BA7;">Radarr</span> - Searches Prowlarr indexers for Movies</p>
					<p><span style="color: #007BA7;">Jellyfin</span> - Media server (no transcoding due to hardware limitations)</p>
					<p style="font-size: 18px;">Cloudflare Tunnels:</p>
					<p><span style="color: #007BA7;">Cloudflared</span> - Docker container for running a Cloudflare tunnel to this device for remote
					access</p>
					<p><span style="color: #007BA7;">Python http server & NGINX</span> - The old, static version of my website</p>
					<p style="font-size: 18px;">Other:</p>
					<p><span style="color: #007BA7;">Pi-hole</span> - Network wide adblock & DNS server</p>
				</div>
				<div id="pi-intro">
					<h1>My Website:</h1>
					<p>This is my Raspberry Pi 4B. There's not much to say about it as it currently only hosts this site. I do have
					<a href="https://a.co/d/07dxUF7G" style="color: #007BA7;">this case</a>
					I got from amazon and some stickers ^-^</p>
				</div>
				<div id="pi-text">
					<img src="../../static/images/raspi.jpg" style="position: relative; width: 30%; top: 50px; right: 340px; border: 5px solid #4a4318;">
					<p style="position: relative; width: 500px; bottom: 300px; left: 400px;">There's not much I can write right now about what's on it but I plan to write a blog post or maybe a series of posts going over how I
					set up my website with Python to serve dynamic pages, so be prepared for that ^-^</p>
					<p style="position: relative; font-size: 13px; right: 350px; bottom: 60px;">An old pic of this thing from</p>
					<p style="position: relative; font-size: 13px; right: 350px; bottom: 65px;">when I used it as my NAS</p>
				</div>
			</div>
			<div class="leftsidebar">
			</div>
			<div class="rightsidebar">
				<h2><b>Blog:</b></h2>
                                <div class="blog-current">
                                        <ul>
                                                <li><b>You are here:</b></li>
                                                <li><a href="/blog/{{current}}">---{{current}}---</a></li>
                                        </ul>
                                </div>
                                <div class="blog-more">
                                        <ul>
                                                <li><b>Check out these posts:</b></li>
                                                <li><a href="/about">---About Me !---</a></li>
                                                {% for post in posts if post.title != current%}
                                                <li><a href="/blog/{{post.title}}">---{{post.title}}---
                                                        <p style="font-size: 10px; color: #007BA7">Posted on:
                                                        {{post.date_posted.day}}/
                                                        {{post.date_posted.month}}/{{post.date_posted.year}}
                                                        </p></a></li>
                                                {% endfor%}
			</div>
		</div>
	</main>
  
	<footer>
                {% for wb in web_buttons %}
                <img src="../../static/images/{{wb.filename}}" style="display:inline-block;">
                {% endfor%}
  	</footer>
  
  </body>
</html>
