<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>bunTeeth.net | Jinja2 in Flask</title>
    <link rel="icon" type="image/png" href="../../static/images/favicon2.png">
    <link href="../../static/css/style.css" rel="stylesheet" type="text/css" media="all">
	<script src="../../static/js/script.js"></script>

  </head>
	 <nav>
        <!-- TODO -->
            <a href="/"><img id="home-button" src="{{ url_for('static', filename='images/home.png') }}" style="display: inline-block;"></a>
            <a href="/about"><img id="about-button" src="{{ url_for('static', filename='images/about.png') }}" style="display: inline-block;"></a>
            <a href="https://theatre.bunteeth.net"><img id="theatre-button" src="{{ url_for('static', filename='images/theatre.png') }}" style="display: inline-block;"></a>
            <a href="https://github.com/bunTeeth"><img id="github-button" src="{{ url_for('static', filename='images/github2.png') }}" style="display: inline-block;"></a>
            <a href="/blog/Tutorial:%20Flask%20Basics"><img id="tutorial-button" src="{{ url_for('static', filename='images/tutorials2.png') }}" style="display:inline-block;"></a>
            <a href="/temple"><img id="shrines-button" src="{{ url_for('static', filename='images/shrines.png') }}" style="display:inline-block;"></a>

	</nav>

  <body>

  <header>
  </header>

	<main>
		<div class="body-container">
			<div class="content-container">
			    <h1>How I Made This Site !</h1>
                <h2>So You Can Too.... If You Want To</h2>
                <h3>Part 5: Displaying Python variables in HTML with Jinja2</h3>
                <hr>
                <p>Hi, welcome back! This will be the 5th and final part of my Flask basics tutorial. Yaaayyy!!!!! If you followed along 'til this point
                    I'd like to thank you for reading this silly tutorial of mine. I'll plan on making more tutorials and upgrading this one as well as I learn
                    more and hone my website making skills :D</p>
                <p style="position: relative; top: 50px;">In this section I'll cover using Jinja2 to display variables from our Python code, which in our case
                    will be our blog posts, in our HTML code. This will be a super quick tutorial as we're only going to be adding a few lines to our
                    <span style="color: #007BA7;">app.py</span> and <span style="color: #007BA7;">index.html</span> files.</p>
                <p style="position: relative; top: 100px;">Starting with <spans style="color: #007BA7;">app.py</spans>, we're just going to add a variable in
                    our index route that grabs each item in our <span style="color: #007BA7;">BlogPost</span> table that we added in the last section. We're also
                    going to add a route for deleting blog posts from the database so we can do it all from our website without needing to go back and forth between
                    it and <span style="color: #007BA7;">Adminer</span>. So let's follow along with the box below and get to work on that ^-^.</p>
                <div class="code-container" style="top: 100px;">
                    <p>#!/usr/bin/env python3</p>
                    <p style="color: #007BA7;"><span style="color: orangered;">from</span> flask
                        <span style="color: orangered;">import</span> Flask, render_template, redirect, request</p>
                    <p style="color: #007BA7;"><span style="color: orangered;">from</span> flask_migrate
                        <span style="color: orangered;">import</span> Migrate</p>
                    <p style="color: #007BA7;"><span style="color: orangered;">from</span> flask_sqlalchemy
                        <span style="color: orangered;">import</span> SQLAlchemy</p>
                    <p style="color: #007BA7;"><span style="color: orangered;">import</span> psycopg</p>
                    <p style="color: #007BA7;"><span style="color: orangered;">from</span> datetime
                        <span style="color: orangered;">import</span> datetime</p>
                    <p style="color: violet;">app <span style="color: white;">=</span>
                        <span style="color: #007BA7;">Flask(__name__)</span></p>
                    <p style="color: violet;">app<span style="color: white;">.config</span><span style="color: white;">[</span>
                        'SQLALCHEMY_DATABASE_URI'<span style="color: white;">] = </span><span style="color: #007BA7;">"postgresql://user:pass@db:5432/db_name"</span></p>
                    <p style="color: violet;">app<span style="color: white;">.config</span><span style="color: white;">[</span>
                        'SQLALCHEMY_TRACK_MODIFICATIONS'<span style="color: white;">] = </span><span style="color: #007BA7;">False</span></p>
                    <p style="color: violet;">app<span style="color: white;">.config</span><span style="color: white;">[</span>
                        'SECRET_KEY'<span style="color: white;">] = </span><span style="color: #007BA7;">"bunnies r the bestest animalz ever !!11!!!!!!"</span></p>
                    <p style="color: violet;">db <span style="color: white;">=</span>
                        <span style="color: #007BA7;">SQLAlchemy(app)</span></p>
                    <p style="color: violet;">migrate <span style="color: white;">=</span>
                        <span style="color: #007BA7;">Migrate(app, db)</span></p>
                    <p style="color: orangered;">class
                        <span style="color: #007BA7;">BlogPost</span><span style="color: white;">(</span><span style="color: violet;">db.Model</span><span style="color: white;">):</span></p>
                    <p style="color: orangered;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;__tablename__ <span style="color: white;">=</span> <span style="color: #007BA7;">'blog_posts'</span></p>
                    <!--<p>&nbsp;</p>-->
                    <p style="color: orangered;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id <span style="color: white;">=</span>
                        <span style="color: violet;">db.Column</span><span style="color: white;">(</span><span style="color: violet;">db.Integer</span><span style="color: white;">,</span>
                        <span>primary_key</span><span style="color: white;">=</span><span style="color: #007BA7;">True</span><span style="color: white;">)</span></p>
                    <p style="color: orangered;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;title <span style="color: white;">=</span>
                        <span style="color: violet;">db.Column</span><span style="color: white;">(</span><span style="color: violet;">db.String</span><span style="color: white;">,</span>
                        <span>unique</span><span style="color: white;">=</span><span style="color: #007BA7;">True</span><span style="color: white;">,</span>
                        <span>nullable</span><span style="color: white;">=</span><span style="color: #007BA7;">False</span><span style="color: white;">)</span></p>
                        <p style="color: orangered;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;date_posted <span style="color: white;">=</span>
                        <span style="color: violet;">db.Column</span><span style="color: white;">(</span><span style="color: violet;">db.DateTime</span><span style="color: white;">,</span>
                        <span>default</span><span style="color: white;">=</span><span style="color: #007BA7;">datetime.now()</span><span style="color: white;">)</span></p>
                    <p style="color: orangered;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;def
                        <span style="color: #007BA7;">__init__</span><span style="color: white;">(</span><span style="color: violet;">self</span><span style="color: white;">,</span>
                        <span style="color: violet;">title</span><span style="color: white;">,</span> <span style="color: violet;">date_posted</span><span style="color: white;">):</span></p>
                    <p style="color: orangered;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: violet;">self</span><span style="color: white;">.</span>title
                        <span style="color: white;">=</span> <span style="color: #007BA7;">title</span></p>
                    <p style="color: orangered;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: violet;">self</span><span style="color: white;">.</span>date_posted
                        <span style="color: white;">=</span> <span style="color: #007BA7;">date_posted</span></p>
                    <p style="color: orangered;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;def
                        <span style="color: #007BA7;">__repr__</span><span style="color: white;">(</span><span style="color: violet;">self</span><span style="color: white;">):</span></p>
                    <p style="color: orangered;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return
                        <span style="color: white;">f</span><span style="color: #007BA7;">'Title:
                            <span style="color: #1D96C2;">{self.title}</span> Date: <span style="color: #1D96C2;">{self.date_posted}</span>'</span></p>
                    <p style="color: violet;"><span style="color: orangered;">@</span>app<span style="color: white;">.route</span><span style="color: white;">(</span><span style="color: #007BA7;">'/'</span><span style="color: white;">)</span>
                    <p style="color: white;"><span style="color: orangered;">def </span><span style="color: #007BA7;">index</span>():
                    <p style="color: black;"># All we have to add to our app file is this query all statement, as well as passing the variable into our template.</p>
                    <p style="color: orangered;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;posts <span style="color: white;">=</span>
                        <span style="color: #007BA7;">BlogPost.</span>query.<span style="color: violet;">all</span><span style="color: white;">()</span></p>
                    <p style="color: black;"># Passing the variable into the template will let us use Jinja2 to create a for loop to display all our blog posts</p>
                    <p style="color: orangered;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return
                        <span style="color: #007BA7;">render_template</span><span style="color: white;">(</span><span style="color: lime;">'index.html'</span><span style="color: white;">,</span>
                        <span style="color: #007BA7;">posts</span><span style="color: white;">=</span><span style="color: violet;">posts</span><span style="color: white;">)</span></p>
                    <p style="color: violet;"><span style="color: orangered;">@</span>app<span style="color: white;">.route</span><span style="color: white;">(</span><span style="color: #007BA7;">'/blog/&lt;int:id&gt;'</span><span style="color: white;">)</span></p>
                    <p style="color: orangered;">def
                            <span style="color: #007BA7;">get_post</span><span style="color: white;">(</span><span style="color: violet;">id</span><span style="color: white;">):</span></p>
                    <p style="color: orangered;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;post
                        <span style="color: white;">=</span>
                        <span style="color: violet;">db.</span>session.<span style="color: violet;">get</span><span style="color: white;">(</span><span style="color: violet;">BlogPost, id</span><span style="color: white;">)</span></p>
                    <p style="color: orangered;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return
                            <span style="color: #007BA7;">render_template</span><span style="color: white;">(f</span><span style="color: lime;">'{post.id}.html'</span><span style="color: white;">)</span></p>
                    <p style="color: violet;"><span style="color: orangered;">@</span>app<span style="color: white;">.route</span><span style="color: white;">(</span><span style="color: #007BA7;">'/create-blog-post'</span><span style="color: white;">,</span>
                        methods<span style="color: white;">=[</span><span style="color: #007BA7;">'POST'</span><span style="color: white;">])</span></p>
                    <p style="color: white;"><span style="color: orangered;">def </span><span style="color: #007BA7;">add_post</span>():</p>
                    <p style="color: orangered;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;title <span style="color: white;">=</span>
                        <span style="color: violet;">request.form.get</span><span style="color: white;">(</span><span style="color: #007BA7;">"title"</span><span style="color: white;">)</span></p>
                    <p style="color: orangered;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;date_posted <span style="color: white;">=</span>
                        <span style="color: violet;">datetime</span><span style="color: white;">.</span><span style="color: #007BA7;">now</span><span style="color: white;">()</span></p>
                    <p style="color: orangered;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if <span style="color: #007BA7;">title</span> <span style="color: white;">!=</span>
                        <span style="color: violet;">""</span><span style="color: white;">:</span></p>
                    <p style="color: orangered;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;post <span style="color: white;">=</span>
                        <span style="color: #007BA7;"">BlogPost</span><span style="color: white;">(</span>title<span style="color: white;">=</span><span style="color: violet;">title</span><span style="color: white;">,
                        </span>date_posted<span style="color: white;">=</span><span style="color: violet;">date_posted</span><span style="color: white;">)</span></p>
                    <p style="color: violet;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;db<span style="color: white;">.</span><span style="color: #007BA7;">session</span><span style="color: white;">.</span>add<span style="color: white;">(</span>post<span style="color: white;">)</span></p>
                    <p style="color: violet;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;db<span style="color: white;">.</span><span style="color: #007BA7;">session</span><span style="color: white;">.</span>commit<span style="color: white;">()</span></p>
                    <p></p>
                    <p style="color: orangered;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return
                        <span style="color: #007BA7;">redirect</span><span style="color: white;">(f</span><span style="color: lime;">'/blog/{post.id}'</span><span style="color: white;">)</span></p>
                    <p style="color: orangered;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;else<span style="color: white;">:</span></p>
                    <p style="color: orangered;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return
                        <span style="color: #007BA7;">redirect</span><span style="color: white;">(</span><span style="color: lime;">'/'</span><span style="color: white;">)</span></p>
                    <p style="color: black;"># This route is basically the same as the one we made to create posts, but it takes in the posts id, queries the database for that id, and then deletes it.</p>
                    <p style="color: violet;"><span style="color: orangered;">@</span>app<span style="color: white;">.route</span><span style="color: white;">(</span><span style="color: #007BA7;">'/delete-blog-post/&lt;int:id&gt;'</span><span style="color: white;">)</span></p>
                    <p style="color: white;"><span style="color: orangered;">def </span><span style="color: #007BA7;">delete_post</span>(<span style="color: violet;">id</span><span style="color: white;">):</span></p>
                    <p style="color: orangered;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;post <span style="color: white;">=</span>
                        db<span style="color: white;">.</span><span style="color: #007BA7;">session</span><span style="color: white;">.</span>get<span style="color: white;">(</span>BlogPost<span style="color: white;">,</span>
                        <span style="color: violet;">id</span><span style="color: white;">)</span></p>
                    <p style="color: violet;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;db<span style="color: white;">.</span><span style="color: #007BA7;">session</span><span style="color: white;">.</span>delete<span style="color: white;">(</span>post<span style="color: white;">)</span></p>
                    <p style="color: violet;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;db<span style="color: white;">.</span><span style="color: #007BA7;">session</span><span style="color: white;">.</span>commit<span style="color: white;">()</span></p>
                    <p style="color: orangered;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return
                        <span style="color: #007BA7;">redirect</span><span style="color: white;">(</span><span style="color: lime;">'/'</span><span style="color: white;">)</span></p>
                    <p style="color: white;"><span style="color: orangered;">if </span><span style="color: #007BA7;">__name__</span> == <span style="color: #007BA7;">'__main__'</span>:
                    <p style="color: orangered;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;with <span style="color: violet;">app.</span><span style="color: #007BA7;">app_context()</span><span style="color: white;">:</span>
                    <p style="color: orangered;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: violet;">db.</span><span style="color: #007BA7;">create_all()</span></p>
                    <p style="color: violet;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;app<span style="color: white;">.run(</span>host<span style="color: white;">=</span><span style="color: orangered;">"0.0.0.0"</span>,
                        port<span style="color: white;">=</span><span style="color: orangered;">5000</span>)</p>
                </div>
                <hr style="position: relative; top: 150px;">
                <p style="position: relative; top: 150px;">html code</p>
                <div class="code-container" style="top: 150px;">
                    <p style="color: lime;"><span style="color: white;"><</span>html<span style="color: white;">></span></p>
					<p style="color: lime;"><span style="color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<</span>body<span style="color: white;">></span></p>
					<p style="color: lime;"><span style="color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<</span>main<span style="color: white;">></span></p>
					<p style="color: lime;"><span style="color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<</span>h1<span style="color: white;">>
					    Add a Blog Post: <</span><span style="color: lime;">/h1</span><span style=" color: white;">></span></p>
					<p style="color: lime;"><span style="color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<</span>form
					<span style="color: #007BA7;">action</span><span style="color: white;">=</span><span style="color: violet;">"/create-blog-post"</span>
					<span style="color: #007BA7;">method</span><span style="color: white;">=</span><span style="color: violet;">"POST"</span><span style="color: white;">></span></p>
					<p style="color: lime;"><span style="color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<</span>label<span style="color: white;">></span>
					    <span style="color: white;">Title: <</span>/label<span style="color: white;">></span></p>
					<p style="color: lime;"><span style="color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<</span>input
					    <span style="color: #007BA7;">type</span><span style="color: white;">=</span><span style="color: violet;">"text"</span>
					    <span style="color: #007BA7;">name</span><span style="color: white;">=</span><span style="color: violet;">"title"</span>
					    <span style="color: #007BA7;">placeholder</span><span style="color: white;">=</span><span style="color: violet;">"give ur post a title!"</span><span style="color: white;">></span></p>
					<p  style="color: lime;"><span style="color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<</span>button
					    <span style="color: #007BA7;">type</span><span style="color: white;">=</span><span style="color: violet;">"submit"</span><span style="color: white;">>Add!</span>
					    <span style="color: white;"><</span>/button<span style="color: white;">></span></p>
					<p style="color: lime;"><span style="color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<</span>/form<span style="color: white;">></span></p>
					<p style="color: black;">&lt;!-- This is where we will put our Jinja2 for loop. In the loop we will use our posts
					    variable from our flask code and add a &ltp&gt; element for each of our blog posts. --&gt;</p>
					<p style="color: violet;"><span style="color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{%</span>
					    for <span style="color: lime;">post</span> in <span style="color: lime;">posts</span><span style="color: white;"> %}</span></p>
					<p style="color: lime;"><span style="color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<</span>p<span style="color: white;">>
					    Post #<span style="color: #007BA7;">{{post.id}}</span> | <span style="color: #007BA7;">{{post.title}}</span> | Posted on:
					    <span><span style="color: #007BA7;">{{post.date_posted.day}}</span> /<span style="color: #007BA7;">{{post.date_posted.month}}</span>
									/<span style="color: #007BA7;">{{post.date_posted.year}}</span></span></span></p>
					<p style="color: black;">&lt;!-- A simple button that will call the delete route we made above with the post's id --&gt;</p>
					<p style="color: lime;"><span style="color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<</span>a
					    <span style="color: #007BA7;">href</span><span style="color: white;">=</span><span style="color: violet;">"/delete-blog-post/{post.id}"</span><span style="color: white;"><</span>button<span></span><span style="color: white;">></span>
					    <span style="color: white;">Delete <</span>/button<span style="color: white;">><</span>/a<span style="color: white;">></span></p>
					<p style="color: violet;"><span style="color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{%</span>
					    endfor <span style="color: white;">%}</span></p>
					<p style="color: lime;"><span style="color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<</span>/main<span style="color: white;">></span></p>
					<p style="color: lime;"><span style="color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<</span>/body<span style="color: white;">></span></p>
					<p style="color: lime;"><span style="color: white;"><</span>/html<span style="color: white;">></span></p>
                </div>
                <hr style="position: relative; top: 200px;">
                <p style="position: relative; top: 200px;">It's really that shrimple! Now we have the basic skeleton of a dynamic website using Flask and PostgreSQL.</p>
                <p style="position: relative; top: 250px; height: 300px;">Thank you for reading through this turorial series!!!!!!!!!!
                    That's all so go out and start making your own website!</p>
			</div>
			<div class="leftsidebar">
			</div>
			<div class="rightsidebar">
				<h2><b>Blog:</b></h2>
                                <div class="blog-current">
                                        <ul>
                                                <li><b>You are here:</b></li>
                                                <li><a href="/blog/{{current}}">---{{current}}---</a></li>
                                        </ul>
                                </div>
                                <div class="blog-more">
                                        <ul>
                                                <li><b>Check out these posts:</b></li>
                                                <li><a href="/about">---About Me !---</a></li>
                                                {% for post in posts if post.title != current%}
                                                <li><a href="/blog/{{post.title}}">---{{post.title}}---
                                                        <p style="font-size: 10px; color: #007BA7">Posted on:
                                                        {{post.date_posted.day}}/
                                                        {{post.date_posted.month}}/{{post.date_posted.year}}
                                                        </p></a></li>
                                                {% endfor%}
			</div>
		</div>
	</main>

	<footer>
                {% for wb in web_buttons %}
                <img src="../../static/images/{{wb.filename}}" style="display:inline-block;">
                {% endfor%}
  	</footer>

  </body>
</html>
