<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>Chloe's Blog | My Binder</title>
    <link rel="icon" type="image/gif" href="/images/favicon-32x32.ico">
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
	<script src="/js/script.js"></script>

  </head>
  
  <body style="background: #6e6e6e; background: linear-gradient(180deg, rgba(110, 110, 110, 1) 0%, rgba(77, 77, 77, 1) 25%, rgba(43, 43, 43, 1) 75%);">
  
  <header>
  </header>
  
	<main>
		<div class="body-container">
			<h1>test</h1>
		</div>
	</main>
  
	<footer>
  </footer>
  
  </body>
</html>